{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Task {{game_number}} of 8
{% endblock %}

{% block content %}

{% if comp == 3 %}
<p class="greentext"><b>Correct!</b> If Person B accepts an offer of 20 points, Person A ends the task with 80 points
    and Person B ends the task with the 20 points they accepted. However, if Person B rejects an offer of 20 points,
    both Person A and Person B end the task with 0 points.</p>
{% else %}
<p class="redtext"><b>Incorrect!</b> If Person B accepts an offer of 20 points, Person A ends the task with 80 points
    and Person B ends the task with the 20 points they accepted. However, if Person B rejects an offer of 20 points,
    both Person A and Person B end the task with 0 points.</p>
{% endif %}

<p>
    Click Next to make your real decisions.
</p>

{% next_button %}

{% include Constants.ugInstructions %}

{% endblock %}
