{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Task {{game_number}} of 8
{% endblock %}

{% block content %}

{% if comp == 1 %}
<p class="greentext">Correct! If Person B accepts an offer of 20 points, Person A ends the task with 80 points
    and Person B ends the task with the 20 points they accepted. However, if Person B rejects an offer of 20 point,
    both Person A and Person B end the task with 0 points.</p>
{% else %}
<p class="redtext">Incorrect! If Person B accepts an offer of 20 points, Person A ends the task with 80 points
    and Person B ends the task with the 20 points they accepted. However, if Person B rejects an offer of 20 point,
    both Person A and Person B end the task with 0 points.</p>
{% endif %}

<p>
    Click Next to make your real decisions.
</p>

{% include Constants.ugInstructions %}

{% next_button %}
{% endblock %}
