{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    <p>
        In this task you are matched with one other person.
    </p>
    <p>
        One of you will be Person A, one of you will be Person B.
    </p>
    <p>
        Person A starts with 100 points and Person B starts with 0.
    </p>
    <p>
        First Person A makes a choice, then Person B responds.
    </p>
    <ol>
        <li>Person A will make an offer on how to split the 100 points with Person B. </li>
        <li>Person B will either accept or reject this offer. If Person B accepts the offer, then B will get the offered amount
            and A will keep the rest. If Person B rejects the offer then both individuals will get 0 points.</li>
    </ol>
    <p>
        The graphic below shows a summary of the interaction:
    </p>
    <img src="{% static "UltimatumGame/ug.JPG" %}"/>
</div>

