{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Thank you for your participation!
{% endblock %}

{% block content %}

<p>
    The study is over.
</p>
<p>
    Thank you for supplying your payment information. Payment will be processed on the Friday after your
    participation. Please allow five working days from then for the payment to reach you.
    If you have any questions about this payment process, or the study in general, please get in touch.
</p>
<p>
    You may now close your browser and exit the study.
</p>

{% endblock %}


