{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Payment Details
{% endblock %}

{% block content %}

<p>
    We require some further information from you in order to process your payment via direct online bank transfer.
</p>
<p>
    This information will <u>only</u> be used for payment purposes, and will be permanently deleted immediately
    after the payment is processed by the University of Auckland. After payment, nothing will directly connect you
    to these details. All data entered here is stored in an encrypted data file, which can only be accessed with a
    private key stored on a separate password-protected computer.
</p>

{% formfield player.name_cleartext %}
{% formfield player.bank_details_cleartext %}

{% next_button %}

{% endblock %}


