{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Payoffs
{% endblock %}

{% block content %}

<p>
    We have successfully matched you to other participants. In the rare event that we could not find a participant to
    match you with, we have instead matched you with average decisions based on previous research.
</p>
<p>
    For each task, we randomly assigned you to a role (if there were multiple roles) and determined the payoffs for
    you and the participant(s) you were matched to.
</p>
<p>
    Below are the results of each of the tasks.
</p>

<br>

{% for i in sequence_of_apps %}

<p><u>Task {{forloop.counter}}</u></p>

{% if i == "DictatorGame" %}
<p>In this task, you were assigned the role of {{matching_dg_role}}.
    {% if matching_dg_role == "Person A" %}You started with {{100|c}} and Person B started with nothing.
    {% else %}Person A started with {{100|c}} and you started with nothing.{% endif %}</p>
{% if matching_dg_role == "Person A" %}
    <p>You transferred {{dg}} to Person B.</p>
{% else %}
    <p>Person A transferred {{matching_dg_transfer_to_me}} to you.</p>
{% endif %}
<p>Your payoff for this task was <b>{{matching_dg_payoff}}</b>.</p>

{% elif i == "UltimatumGame" %}
<p>In this task, you were assigned the role of {{matching_ug_role}}.
    {% if matching_ug_role == "Person A" %}You started with {{100|c}} and Person B started with nothing.
    {% else %}Person A started with {{100|c}} and you started with nothing.{% endif %}</p>
{% if matching_ug_role == "Person A" %}
    <p>You offered Person B {{ug1}}.
    {% if matching_ug_reject %}However, Person B's minimum acceptable offer was {{matching_ug_mao}}, and so they
    rejected your offer.
    {% else %}Person B's minimum acceptable offer of {{matching_ug_mao}} was below this, and so they accepted
    your offer.{% endif %}</p>
{% else %}
    <p>Person A offered you {{matching_ug_offer}}.
    {% if matching_ug_reject %}However, your minimum acceptable offer was {{ug2}}, and so you rejected their offer.
    {% else %}Your minimum acceptable offer of {{ug2}} was below this, and so you accepted their offer.{% endif %}</p>
{% endif %}
<p>Your payoff for this task was <b>{{matching_ug_payoff}}</b>.</p>

{% elif i == "TrustGame" %}
<p>In this task, you were assigned the role of {{matching_tg_role}}. Both people started with {{50|c}}.</p>
{% if matching_tg_role == "Person A" %}
    {% if tg1 == 1 %}
    <p>You didn't transfer anything to Person B, and so Person B had nothing to send back.</p>
    {% else %}
    <p>You transferred your {{50|c}} to Person B, which was multiplied to {{150|c}}. Person B then sent back
    {{matching_tg_return}}.</p>
    {% endif %}
{% else %}
    {% if matching_tg_give == 1 %}
    <p>Person A didn't transfer anything to you, and so you had nothing to send back.</p>
    {% elif matching_tg_give == 2 %}
    <p>Person A transferred their {{50|c}} to you, which was multiplied to {{150|c}}. You then sent back
    {{tg2}}.</p>
    {% endif %}
{% endif %}
<p>Your payoff for this task was <b>{{matching_tg_payoff}}</b>.</p>

{% elif i == "SecondPPGame" %}
<p>In this task, both people started with {{100|c}}.</p>
{% if secondpp1 == 1 %}
    {% if matching_2pp_pd == 1 %}
        <p>In Phase 1, both people transferred {{30|c}} to the other. These transfers were doubled
            to {{60|c}}. At the end of Phase 1, therefore, your payoff was {{130|c}}.</p>
    {% elif matching_2pp_pd == 2 %}
        <p>In Phase 1, you transferred {{30|c}} but the other person did not. At the end of Phase 1,
            therefore, your payoff was {{70|c}}.</p>
    {% endif %}
{% else %}
    {% if matching_2pp_pd == 1 %}
        <p>In Phase 1, the other person transferred {{30|c}} to you (doubled to {{60|c}}),
            but you did not transfer anything. At the end of Phase 1, therefore, your payoff was
            {{160|c}}.</p>
    {% elif matching_2pp_pd == 2 %}
        <p>In Phase 1, neither person transferred points to the other.</p>
    {% endif %}
{% endif %}
{% if matching_2pp_pd == 1 %}
    {% if secondpp2 > 0 %}
    <p>In Phase 2, you removed {{secondpp2}} from the other person for their decision in Phase 1.
    This cost you {{secondpp2_cost}}.</p>
    {% else %}
    <p>You did not remove any points from the other person for their decision in Phase 1.</p>
    {% endif %}
{% elif matching_2pp_pd == 2 %}
    {% if secondpp3 > 0 %}
    <p>In Phase 2, you removed {{secondpp3}} from the other person for their decision in Phase 1.
    This cost you {{secondpp3_cost}}.</p>
    {% else %}
    <p>You did not remove any points from the other person for their decision in Phase 1.</p>
    {% endif %}
{% endif %}
{% if secondpp1 == 1 %}
    {% if matching_2pp_puncoop > 0 %}
    <p>The other person removed {{matching_2pp_puncoop}} from you.</p>
    {% elif matching_2pp_puncoop == 0 %}
    <p>The other person did not remove any points from you.</p>
    {% endif %}
{% else %}
    {% if matching_2pp_pundef > 0 %}
    <p>The other person removed {{matching_2pp_pundef}} from you.</p>
    {% elif matching_2pp_pundef == 0 %}
    <p>The other person did not remove any points from you.</p>
    {% endif %}
{% endif %}
<p>Your payoff from both phases of this task was <b>{{matching_2pp_payoff}}</b>.</p>

{% elif i == "ThirdPPGame" %}
<p>In this task, you were assigned the role of {{matching_3pp_role}}. All people started with {{100|c}}.</p>
{% if matching_3pp_role == "Person A" %}
    {% if thirdpp1 == 1 %}
    <p>You chose not to take any points from Person B. As a result, Person C did not remove any points from you.</p>
    {% elif thirdpp1 == 2 %}
    <p>You chose to take points from Person B. Person B lost {{50|c}} and you gained {{30|c}}.</p>
        {% if matching_3pp_punishment > 0 %}
        <p>As a result, Person C then removed {{matching_3pp_punishment}} from you.</p>
        {% else %}
        <p>However, Person C chose not to remove any points from you.</p>
        {% endif %}
    {% endif %}
{% else %}
    {% if matching_3pp_take == 1 %}
    <p>Person A chose not to take any points from Person B. As a result, you did not remove any points from Person A.</p>
    {% elif matching_3pp_take == 2 %}
    <p>Person A chose to take points from Person B. Person B lost {{50|c}} and Person A gained {{30|c}}.</p>
        {% if thirdpp2 > 0 %}
        <p>As a result, you then removed {{thirdpp2}} from Person A. This cost you {{thirdpp2_cost}}.</p>
        {% else %}
        <p>However, you chose not to remove any points from Person B.</p>
        {% endif %}
    {% endif %}
{% endif %}
<p>Your payoff for this task was <b>{{matching_3pp_payoff}}</b>.</p>

{% elif i == "PublicGoodsGame" %}
<p>In this task, all four people started with {{100|c}}.</p>
<p>You contributed {{pgg}} to the group project. The other group members contributed {{matching_pgg_cont1}},
{{matching_pgg_cont2}}, and {{matching_pgg_cont3}}. The total number of points was doubled and divided evenly
    between all people. This was added to your remaining points.</p>
<p>Your payoff for this task was <b>{{matching_pgg_payoff}}</b>.</p>

{% elif i == "StagHuntGame" %}
<p>In this task, all four people started with {{100|c}}.</p>
{% if sh == 1 %}
    <p>You chose to contribute 30 points to the group project.</p>
{% else %}
    <p>You chose not to contribute 30 points to the group project.</p>
{% endif %}
{% if matching_sh_count == 4 %}
    <p>Overall, all group members contributed, and so the group project was successful. 120 points were doubled and
    distributed evenly between all group members.</p>
{% elif matching_sh_count == 1 %}
    <p>Overall, only 1 group member contributed, and so the group project was unsuccessful. All points
    in it were lost.</p>
{% elif matching_sh_count == 0 %}
    <p>Overall, no one contributed to the group project.</p>
{% else %}
    <p>Overall, only {{matching_sh_count}} group members contributed, and so the group project was unsuccessful. All points
    in it were lost.</p>
{% endif %}
<p>Your payoff for this task was <b>{{matching_sh_payoff}}</b>.</p>

{% elif i == "StagHuntGamewithPunishment" %}
<p>In this task, both people started with {{100|c}}.</p>
{% if staghunt1 == 1 %}
    {% if matching_staghunt_action == 1 %}
        <p>In Phase 1, both people chose to transfer {{30|c}} to the group project. The group project was successful,
        and so the points in the group project were doubled and distributed evenly between both people.
        At the end of Phase 1, therefore, your payoff was {{130|c}}.</p>
    {% elif matching_staghunt_action == 2 %}
        <p>In Phase 1, you chose to transfer {{30|c}} to the group project, but the other person did not. The group
        project was unsuccessful, and so the points in the group project were lost.
        At the end of Phase 1, therefore, your payoff was {{70|c}}.</p>
    {% endif %}
{% else %}
    {% if matching_staghunt_action == 1 %}
        <p>In Phase 1, you chose not to transfer {{30|c}} to the group project, but the other person did. The group
        project was unsuccessful, and so the points in the group project were lost.
        At the end of Phase 1, therefore, your payoff was {{100|c}}.</p>
    {% elif matching_staghunt_action == 2 %}
        <p>In Phase 1, both people chose not to transfer {{30|c}} to the group project.
        At the end of Phase 1, therefore, your payoff was {{100|c}}.</p>
    {% endif %}
{% endif %}
{% if matching_staghunt_action == 1 %}
    {% if staghunt2 > 0 %}
    <p>In Phase 2, you removed {{staghunt2}} from the other person for their choice in Phase 1.
    This cost you {{staghunt2_cost}}.</p>
    {% else %}
    <p>You did not remove any points from the other person for their choice in Phase 1.</p>
    {% endif %}
{% elif matching_staghunt_action == 2 %}
    {% if staghunt3 > 0 %}
    <p>In Phase 2, you removed {{staghunt3}} from the other person for their choice in Phase 1.
    This cost you {{staghunt3_cost}}.</p>
    {% else %}
    <p>You did not remove any points from the other person for their choice in Phase 1.</p>
    {% endif %}
{% endif %}
{% if staghunt1 == 1 %}
    {% if matching_staghunt_pun1 > 0 %}
    <p>The other person removed {{matching_staghunt_pun1}} from you.</p>
    {% elif matching_staghunt_pun1 == 0 %}
    <p>The other person did not remove any points from you.</p>
    {% endif %}
{% elif staghunt1 == 2 %}
    {% if matching_staghunt_pun2 > 0 %}
    <p>The other person removed {{matching_staghunt_pun2}} from you.</p>
    {% elif matching_staghunt_pun2 == 0 %}
    <p>The other person did not remove any points from you.</p>
    {% endif %}
{% endif %}
<p>Your payoff from both phases of this task was <b>{{matching_staghunt_payoff}}</b>.</p>

{% endif %}

<br>

{% endfor %}

<p><b>
    Your overall payoff from all tasks was {{overall_payoff}}.
    This means that your bonus for the study is {{overall_bonus_cash}}.
</b></p>

<p>
    If for some reason, your bonus for the study ended up less than $10, then we have rounded it up to $10.
</p>

<p>
    Click Next to see a summary of your reimbursement for the whole study, and to provide your bank account details.
</p>

{% next_button %}

{% endblock %}


