{% extends "otree/Page.html" %}
{% load otree %}

{% block body_main %}
<img src="{% static "global/NZAVSheader.png" %}"/>
 {{block.super}}
{% endblock %}

{% block title %}Welcome{% endblock %}

{% block styles %}
<style type="text/css">
    .box {
	width:100%;
	height:100%;
	background:#F5F5DC; /* biege color */
	margin:20px auto;
    padding: 10px 10px 10px 10px;
    }
    img {
        width: 100%;
        max-width: 500px;
    }
</style>
{% endblock %}


{% block content %}

<p>
    This is a study of <b>how people interact and make economic decisions in groups</b>. Please read the following
    participant information sheet carefully.
</p>

<br>

<div class="box">

    <div align="center">
        <h3>
            Participant Information Sheet
        </h3>
    </div>
    <p>
        <b>Project title:</b> The NZAVS Economic Decisions Project
    </p>
    <p>
        <b>Name of Principal Investigator:</b> Professor Chris Sibley
    </p>
    <p>
        <b>Researcher introduction</b>
    </p>
    <p>
        Our research team consists of Professor Chris Sibley, Professor Quentin Atkinson, Professor Ananish Chaudhuri,
        and PhD student Scott Claessens at the University of Auckland. This research is funded by a Royal Society of
        New Zealand Marsden Fund grant.
    </p>
    <p>
        <b>Project purpose and invitation</b>
    </p>
    <p>
        The purpose of this project is to assess how people interact and make economic decisions in groups. You have
        been invited to participate in this study because you are a participant in the New Zealand Attitudes and
        Values Study, and you have agreed to participate in an additional online study. You must be at least 18 years
        old to participate. Participation in this study is voluntary.
    </p>
    <p>
        <b>Project procedures</b>
    </p>
    <p>
        In this study, we will ask you to make a series of decisions in a number of different tasks. In almost all of
        these tasks, you will be grouped with one or more other participants in this study. You will not learn the
        identity of any of these other individuals at any point either during or after the conclusion of the study,
        and they will not learn your identity.
    </p>
    <p>
        The instructions for the tasks are simple, and based on the decisions that you make you will be reimbursed
        an appreciable amount of money. However, this amount will depend on the decisions that you make and the
        decisions made by the other individuals you are interacting with. You will need to make a series of decisions
        that differ from one task to the next. So please read the instructions carefully. We will ask you and every
        other participant to answer some comprehension questions before each task, to make sure that everyone
        understands how the tasks will work.
    </p>
    <p>
        The entire study will take approximately one hour; possibly less. Please make sure that you have that time
        at your disposal. We will reimburse everyone $20 simply for participating in the study, as a thank you gesture
        for volunteering. We will also reimburse an additional amount depending on the decisions made by you and others
        undertaking the same task. This additional amount can vary from $10 to $35. However, on average we expect this
        bonus to be around $25. This means that, on average, a participant can expect an overall reimbursement of
        around $45. But the actual full amount may well be different based on the decisions you and others make.
    </p>
    <p>
        Please understand that you will only be reimbursed this additional amount if you complete the study. If for
        some reason you are unable to complete the study in the allotted time, then you will only be reimbursed the
        initial $20 for participation.
    </p>
    <p>
    <i>
        Please note: For reimbursement, the University of Auckland cannot apply withholding tax. It is therefore your
        responsibility to consider the tax treatment of this reimbursement, and determine whether you should include
        this amount within your annual tax return or personal tax summary.
    </i>
    </p>
    <p>
        There are no known physical or psychological risks associated with this research.
    </p>
    <p>
        <b>Data storage/retention/destruction/future use</b>
    </p>
    <p>
        The data will be used for a PhD thesis, and to generate results for publication in scholarly journals. Data
        will be stored in electronic format on a password protected University of Auckland computer, backed up and
        stored on the University of Auckland server. All journals now require that such data be made available to
        interested researchers for purposes of replication and verification. Therefore, we intend to store the
        electronic data for the foreseeable future, so that they can be made available to any researcher who wishes
        to double-check our work or build on it. Reimbursement data (your name and bank account information) will be
        decrypted on a local computer, used for online bank transfers, and then permanently deleted immediately after
        transferring the reimbursements.
    </p>
    <p>
        <b>Right to withdraw from participation</b>
    </p>
    <p>
        Participation in this study is voluntary. You may withdraw from the study at any time without citing any
        reason. You can also withdraw from the study at a later date by emailing us (nzavs@auckland.ac.nz). In that
        case, we will delete any data pertaining to your decisions. Should you wish to do this, you must let us know
        within four weeks of your day of participation. You will need to tell us the date of your participation as well
        as your confidential participant number.
    </p>
    <p>
        <b>Anonymity and confidentiality</b>
    </p>
    <p>
        You have been given a confidential participant number, in the format ‘AAA11’ (three capital letters and two
        numbers). Your participant number will be
        used throughout the study, and will only be able to connect you to your previous NZAVS responses, which are
        anonymised.
    </p>
    <p>
        At the end of the study, we will ask you for your full name and bank details to reimburse you. To protect your
        anonymity, this information will be stored in an encrypted data file, which can only be accessed with a private
        key stored on a separate password-protected computer. This information will only be used for reimbursement
        purposes, and will be permanently deleted immediately after the reimbursement is processed by the University
        of Auckland. After reimbursement, nothing will directly connect you to your name or bank details.
    </p>
    <p>
        Your data will be kept confidential, and this information will be stored safely in a file on the computer.
        Only the researchers involved will have access to the data, which will be used only for the purposes of this
        dissertation, and possibly for future scholarly publications.
    </p>
    <p>
        <b>Contact details</b>
    </p>
    <p>
        If you have any questions or concerns about this study, please contact Professor Chris Sibley (Phone: 09 923
        8353; Email: nzavs@auckland.ac.nz) in the School of Psychology. You may also contact Professor Suzanne Purdy,
        Head of the School of Psychology (Phone: 09 923 2073; Email: sc.purdy@auckland.ac.nz).
    </p>
    <p>
        For any queries regarding ethical concerns, you may contact the Chair, The University of Auckland Human
        Participants Ethics Committee, The University of Auckland, Office of the Vice Chancellor, Private Bag 92019,
        Auckland 1142. Telephone: 09 373 75 99 ext. 83711. Email: ro-ethics@auckland.ac.nz
    </p>
    <p>
        Approved by the University of Auckland Human Participants Ethics Committee on 19/07/2018 for 3 years.
        Protocol Number: 021666
    </p>

</div>

<br>

<p>
    I have read the Participant Information Sheet, have understood the nature of the research and why I have been
    selected. By participating in this online study, I am indicating that I understand that:
</p>
<ul>
    <li>I am agreeing to participate in this study.</li>
    <li>I am at least 18 years old.</li>
    <li>This is an online study that will take approximately one hour to complete.</li>
    <li>I will be reimbursed an initial $20 as a thank you gesture for volunteering my participation.</li>
    <li>I will be reimbursed an additional amount ranging between $10 and $35 (expected average $25) based on the
        decisions that other participants and I make in this study. This additional amount will only be reimbursed
        if I complete the study; otherwise, I will only get the initial $20.</li>
    <li>For this reimbursement, the University cannot apply withholding tax. It is therefore my responsibility to
        consider the tax treatment of this reimbursement and determine whether I should include this amount within
        my annual tax return or personal tax summary.</li>
    <li>My participation is completely voluntary.</li>
    <li>I am free to withdraw my participation at any time, without giving reason.</li>
    <li>At the end of the study, I will be required to submit my full name and bank account number for
        reimbursement purposes.</li>
    <li>My name and bank account number will be stored in an encrypted data file. It will be used solely to reimburse
        me, and will then immediately be deleted.</li>
    <li>My responses will remain completely anonymous.</li>
    <li>Though data collected from this study may be presented at research conferences and published in scholarly
        outlets, my identity will never be revealed.</li>
</ul>

<p><b>
    Click Next to provide informed consent to take part in this study.
</b></p>

{% next_button %}

{% endblock %}
