{% extends "otree/Page.html" %}
{% load otree_tags %}

{% block title %}Welcome{% endblock %}

{% block styles %}
<style type="text/css">
    .box {
	width:100%;
	height:100%;
	background:#F5F5DC; /* biege color */
	margin:20px auto;
    padding: 10px 10px 10px 10px;
}
</style>
<style>
    .otree-timer {
        display: none;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds <= 600) {
                $('.otree-timer').show();
            }
        });
    });
</script>
{% endblock %}

{% block content %}

{% if simulated %}
    <p><b><u>SIMULATED PLAYER.</u> Click Next to submit automatic responses and proceed to wait page.</b></p>
{% else %}

<p>
    This is a study of <b>how people interact and make economic decisions in groups</b>. Please read the following
    consent form carefully.
</p>

<br>

<div class="box">

    <div align="center">
        <h3>
            Consent Form
        </h3>
    </div>
    <p>
        You have been invited to participate in this study because you are a participant in the New Zealand Attitudes and
        Values Survey, and you have agreed to participate in an additional online study. You must be at least 18 years
        old to participate.
    </p>
    <p>
        The purpose of this project is to assess <b>how one's attitudes and values impact economic decision making.</b>
        In this study, we will ask you to make a series of decisions in a number of different tasks. In almost all of
        these tasks, you will be grouped with one or more other participants in this study. You will not
        learn the identity of any of these other individuals at any point either during or after the conclusion of the
        study, and they will not learn your identity.
    </p>
    <p>
        The instructions for the tasks are simple, and based on the decisions that you make you will be reimbursed
        an appreciable amount of money. However, <b>this amount will depend on the decisions that you make and the
        decisions made by the other individuals you are interacting with.</b> You will need to make a series of decisions
        that differ from one task to the next. So please read the instructions carefully. We will ask you and every
        other player to answer some comprehension questions before each task, to make sure that everyone understands how
        these interactions will work.
    </p>
    <p>
        The entire study will take <b>approximately one hour</b>; possibly less. Please make sure that you have that time at
        your disposal. We will reimburse everyone $20 simply for participating in the study. We will also reimburse an
        additional amount depending on the decisions made by you and others undertaking the same task. This additional
        amount can vary from $2 to $44. However, on average we expect this bonus to be around $25. This means that,
        added to the initial $20, <b>on average a participate can expect a reimbursement of around $45.</b> But the actual full
        amount may well be different based on the decisions you and others make.
    </p>
    <p>
        Please understand that you will only be reimbursed this additional amount <b>if you complete the study.</b> If for some
        reason you are unable to complete the study in the allotted time, then you will only be reimbursed the initial
        $20 for participation.
    </p>
    <p>
        There are no known physical or psychological risks associated with this research. <b>The study has been approved
        by the University of Auckland Human Participants Ethics Committee.</b> Participation in this study is voluntary.
        You may withdraw from the study at any time without citing any reason. You can also withdraw from the study at
        a later date by emailing us (nzavs@auckland.ac.nz). In that case, we will delete any data pertaining to your
        decisions. Should you wish to do this, you must let us know within four weeks of your day of participation.
        You will need to tell us the date of your participation as well as your participant identification label.
    </p>
    <p>
        At the end of the study, we will ask you for your <b>full name and bank details</b> to pay you. As soon as it is
        submitted, this information will be stored in an encrypted data file, which can only be accessed with a private
        key stored on a separate password-protected computer. This information will only be used for payment purposes,
        and will be permanently deleted immediately after the payment is processed by the University of Auckland.
        After payment, nothing will directly connect you to your name or bank details. Your participant number will
        only be able to connect you to your previous NZAVS responses, which are anonymised.
    </p>
    <p>
        The final anonymous data file from this study may be shared with other competent professionals on a
        case-by-case basis for research purposes. It will not be possible for others to identify your responses from
        this data or subsequent reports.
    </p>
    <p>
        If you have any questions or concerns about this study, please contact Professor Chris Sibley (Phone: 09 923 8353;
        Email: nzavs@auckland.ac.nz) in the School of Psychology. You may also contact Professor Suzanne Purdy,
        Head of the School of Psychology (Phone: 09 923 2073; Email: sc.purdy@auckland.ac.nz).
    </p>
    <p>
        For any queries regarding ethical concerns, you may contact the Chair, The University of Auckland
        Human Participants Ethics Committee, The University of Auckland, Office of the Vice Chancellor,
        Private Bag 92019, Auckland 1142. Telephone: 09 373 75 99 ext. 83711.
    </p>
    <p>
        Approved by the University of Auckland Human Participants Ethics Committee on XX-XX- XXXX for (3) years.
        Protocol Number:
    </p>

</div>

<br>

<p>
    By clicking Next, you understand that:
<ul>
    <li>You are agreeing to participate in this study</li>
    <li>You are at least 18 years old</li>
    <li>This is an online study that will take approximately one hour to complete</li>
    <li>You will be reimbursed an initial $20 for your participation</li>
    <li>You will be reimbursed an additional amount ranging between $2 and $44 (expected average $25) based on the
        decisions that you and the other participants make in this study. This additional amount will only be reimbursed
        if you complete the study; otherwise, you will only get the initial $20.</li>
    <li>Your participation is completely voluntary</li>
    <li>You are free to withdraw your participation at any time</li>
    <li>At the end of the study, you will be required to submit your bank details for payment purposes</li>
    <li>Any data collected for payment reasons will be stored in an encrypted data file.
        It will be used solely to pay you, and will then immediately be deleted</li>
    <li>Your responses will remain completely anonymous</li>
    <li>Though data collected from this study may be presented at research conferences and published in scholarly
        outlets, your identity will never be revealed</li>
</ul>
</p>

<p><b>
    Click Next to provide informed consent to take part in this study.
</b></p>

{% endif %}

{% next_button %}

{% endblock %}
