{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    General Instructions
{% endblock %}

{% block content %}
<p>
    <b>PLEASE READ THESE INSTRUCTIONS CAREFULLY!</b>
</p>
<p>
    Thank you for participating in our study.
</p>
<p>
    In this study, you will be asked to take part in a series of interactions. In each interaction you will be matched
    with one or more other people. You will be matched randomly, so the chance of you interacting with someone twice
    is very low. You will be asked to make some decisions that will affect the payoffs of you and these other people.
</p>
<p>
    The payoffs for each interaction will be given in points. Every point will be worth $0.02 at the end of the study.
    For example, an interaction for 100 points has $2.00 at stake. The rules for each interaction will be different,
    so please read the instructions carefully!
</p>
<p>
    Some interactions will have different "roles" for different participants. We will ask you what you would like to do
    in each possible role.
</p>
<p>
    <b>Every interaction will count towards your final payoff.</b> At the end of the study, after matching your decisions
    with those of other random participants, we will calculate what you earned in each interaction. The sum of total of all
    these earnings will determine your bonus payment from the study.
</p>
<p>
    Please click Next to continue.
</p>
{% next_button %}
{% endblock %}
