{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    General Instructions
{% endblock %}

{% block content %}
<p>
    <b>PLEASE READ THESE INSTRUCTIONS CAREFULLY!</b>
</p>
<p>
    Thank you for participating in our study.
</p>
<p>
    In this study, you will be asked to take part in a series of tasks. In each task you will be matched with one or
    more other people. You will be re-matched randomly from one task to the next, so the chance of you interacting with
    the same person in consecutive tasks is very small. You will never learn the identity of the people you are
    interacting with. They will never learn your identity. The money that you are reimbursed from these tasks depends
    on the decisions that you and the other participants make in the different tasks.
</p>
<p>
    The payoffs for each task will be given in points. Every point will be worth $0.03 at the end of the study.
    For example, a task for 100 points has $3.00 at stake. The rules for each task will be different,
    so please read the instructions carefully!
</p>
<p>
    Some tasks will have different "roles" for different participants. We will ask you what you would like to do
    in each possible role.
</p>
<p>
    <b>Every task will count towards your final payoff.</b> At the end of the study, after matching your decisions
    with those of other random participants, we will calculate what you earned in each task. The sum of total of all
    these earnings will determine your bonus reimbursement from the study.
</p>
<p>
    <i>
        Remember, this is <u>not</u> a survey you can pause and come back to later.
        You have one hour to complete this study, so once you click Next, please stay focused on the study.
        Otherwise, other participants may have to wait for you.
    </i>
</p>
<p>
    <b>Please click Next to begin the tasks.</b>
</p>
{% next_button %}
{% endblock %}
