{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    <p>
        In this task you are matched with three other people.
    </p>
    <p>
        All of you start with 100 points.
    </p>
    <p>
        Each of you will choose whether to contribute 30 points to a group project.
    </p>
    <p>
        All individuals decide at the same time.
    </p>
    <p>
        If <i>all people</i> contribute, the group project is successful. In this case, all contributed
        points will be doubled and split evenly among the group.
    </p>
    <p>
        If only one, two, or three people contribute, the group project is not successful, and all the points in it
        are lost.
    </p>
    <p>
        The graphic below shows a summary of the task:
    </p>
    <img src="{% static "StagHuntGame/sh.JPG" %}"/>
</div>

