{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    <p>
        In this task you are matched with one other person.
    </p>
    <p>
        One of you will be Person A, one of you will be Person B.
    </p>
    <p>
        Both individuals start with 100 points.
    </p>
    <p>
        This task has two phases. In each phase, both people choose at the same time.
    </p>
    <p>
        <u>The transfer phase</u>
    </p>
    <p>
        In the transfer phase, both people will choose to transfer 30 of their points to the other person or not.
        Any points transferred are doubled and given to the other person.
    </p>
    <p>
        <u>The penalty phase</u>
    </p>
        In the penalty phase, each person then chooses whether they want to remove up to 50 points from the other person,
        based on the other person's decision in the transfer phase. For every 5 points someone wants to remove from the other
        person, they must pay 1 point.
    <p>
    <p>
        The graphic below shows a summary of the task:
    </p>
    <img src="{% static "SecondPPGame/2pp.JPG" %}"/>
</div>

