{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    <p>
        In this task you are matched with one other person.
    </p>
    <p>
        One of you will be Person A, the other will be Person B.
    </p>
    <p>
        Both of you start with 50 points.
    </p>
    <p>
        First, Person A makes a choice, then Person B responds.
    </p>
    <ol>
        <li>Person A can choose to transfer their 50 points or not. If Person A transfers 50 points then it is TRIPLED
        and given to Person B (so Person B now has 200 points; the 50 points sent by Person A is tripled to 150 points,
        which is added to the 50 points Person B had to begin with).</li>
        <li>Person B can then choose how many of the points they want to transfer back to person A (between 0 and 150).
        This latter amount is not tripled.</li>
    </ol>
    <p>
        The graphic below shows a summary of the interaction:
    </p>
    <img src="{% static "TrustGame/tg.JPG" %}"/>
</div>

