{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    <p>
        In this interaction you are matched with one other brand new person.
    </p>
    <p>
        One of you will be person A, one of you will be person B.
    </p>
    <p>
         All individuals start with 100 points.
    </p>
    <p>
        Both people choose at the same time.
    </p>
    <p>
        There will be a prize worth 100 points. Each person will choose how many of their 100 points they will spend
        to try to win the prize.
    </p>
    <p>
        The person who spends the most points will win the prize (and so get an extra 100 points).
    </p>
    <p>
        Both people will keep all points that they chose not to spend, and lose any points they spend (whether or not
        they win).
    </p>
    <p>
        The graphic below shows a summary of the interaction:
    </p>
    <img src="{% static "AllPayAuction/apa.JPG" %}" width="{{ 500 }}"/>
</div>

