{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Task {{game_number}} of 8
{% endblock %}

{% block content %}

{% if comp == 3 %}
<p class="greentext"><b>Correct!</b> Contributing all 100 of your points maximises the payoffs to the group, but
    contributing 0 points maximises the payoffs for yourself.</p>
{% else %}
<p class="redtext"><b>Incorrect!</b> Contributing all 100 of your points maximises the payoffs to the group, but
    contributing 0 points maximises the payoffs for yourself.</p>
{% endif %}

<p>
    Click Next to make your real decision.
</p>

{% next_button %}

{% include Constants.pggInstructions %}

{% endblock %}
