{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    <p>
        In this interaction you are matched with three other brand new people.
    </p>
    <p>
        All of you start with 100 points.
    </p>
    <p>
        Each of you will choose how much of this 100 points to contribute to a group project, and how much to keep
        for yourself.
    </p>
    <p>
        All individuals decide at the same time.
    </p>
    <ol>
        <li>Everyone chooses how many points to contribute.</li>
        <li>All contributed points are doubled and split evenly among the group.</li>
    </ol>
    <p>
        Thus, for every  2 points you contribute, you only receive one point from the project. So contributing more
        points always increases your groups' total payoff, but you always end up with more money if you contribute less.
    </p>
    <p>
        The graphic below shows a summary of the interaction:
    </p>
    <img src="{% static "PublicGoodsGame/pgg.JPG" %}"/>
</div>

