{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Task {{game_number}} of 8
{% endblock %}

{% block content %}

{% if comp == 1 %}
<p class="greentext"><b>Correct!</b> Person C can only remove points from Person A if they decide to take points from
    Person B.</p>
{% else %}
<p class="redtext"><b>Incorrect!</b> Person C can only remove points from Person A if they decide to take points from
    Person B.</p>
{% endif %}

<p>
    Click Next to make your real decisions.
</p>

{% next_button %}

{% include Constants.thirdppInstructions %}

{% endblock %}
