{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    <p>
        In this task you are matched with two other people.
    </p>
    <p>
        One of you will be Person A, one of you will be Person B, one of you will be Person C.
    </p>
    <p>
        All individuals start with 100 points.
    </p>
    <p>
        First, Person A makes a choice, then Person C responds.
    </p>
    <ol>
        <li>Person A can choose to take or not take from Person B.</li>
        <li>If A takes, Person B loses 50 points and A gains 30 points.</li>
        <li>If A takes, then Person C can choose to remove points from A. Person C can remove up to 100 points from A.</li>
    </ol>
    <p>
        Person C must pay 1 point for every 5 points they remove from A. Person B is passive in this task and
        makes no decisions.
    </p>
    <p>
        The graphic below shows a summary of the task:
    </p>
    <img src="{% static "ThirdPPGame/3pp.JPG" %}"/>
</div>

